version: '3.9'

services:
  jaeger:
    image: jaegertracing/all-in-one:1.57
    container_name: jaeger
    restart: unless-stopped
    networks:
      - monitor-net
    ports:
      - "16686:16686"      # Jaeger UI
      - "14250:14250"      # OTLP gRPC ingest
      - "14268:14268"      # Jaeger Collector HTTP
      - "6831:6831/udp"    # Jaeger agent UDP
      - "6832:6832/udp"    # Jaeger agent UDP
      - "9411:9411"        # Zipkin compatible endpoint
      - "4317:4317"     # OTLP gRPC
      - "4318:4318"     # OTLP HTTP
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      - LOG_LEVEL=debug

networks:
  monitor-net:
    external: true
